{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "targets": {
          "node": "current"
        }
      }
    ], 
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-spread"]
}